LobAuto/Web References/LookupService/Lookup.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HealthCheck">
        <s:complexType />
      </s:element>
      <s:element name="HealthCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HealthCheckResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllVehicleModel">
        <s:complexType />
      </s:element>
      <s:element name="GetAllVehicleModelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllVehicleModelResult" type="tns:ArrayOfVehicleModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVehicleModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VehicleModel" nillable="true" type="tns:VehicleModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VehicleModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Make" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Model" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HealthCheckSoapIn">
    <wsdl:part name="parameters" element="tns:HealthCheck" />
  </wsdl:message>
  <wsdl:message name="HealthCheckSoapOut">
    <wsdl:part name="parameters" element="tns:HealthCheckResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllVehicleModelSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllVehicleModel" />
  </wsdl:message>
  <wsdl:message name="GetAllVehicleModelSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllVehicleModelResponse" />
  </wsdl:message>
  <wsdl:portType name="LookupSoap">
    <wsdl:operation name="HealthCheck">
      <wsdl:input message="tns:HealthCheckSoapIn" />
      <wsdl:output message="tns:HealthCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllVehicleModel">
      <wsdl:input message="tns:GetAllVehicleModelSoapIn" />
      <wsdl:output message="tns:GetAllVehicleModelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LookupSoap" type="tns:LookupSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HealthCheck">
      <soap:operation soapAction="http://tempuri.org/HealthCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllVehicleModel">
      <soap:operation soapAction="http://tempuri.org/GetAllVehicleModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LookupSoap12" type="tns:LookupSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HealthCheck">
      <soap12:operation soapAction="http://tempuri.org/HealthCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllVehicleModel">
      <soap12:operation soapAction="http://tempuri.org/GetAllVehicleModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Lookup">
    <wsdl:port name="LookupSoap" binding="tns:LookupSoap">
      <soap:address location="https://localhost:44362/Lookup.asmx" />
    </wsdl:port>
    <wsdl:port name="LookupSoap12" binding="tns:LookupSoap12">
      <soap12:address location="https://localhost:44362/Lookup.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>